In [1]:
import pandas as pd

In [154]:
datas = pd.read_csv("datas.xlsx - Sheet1.csv")

In [91]:
bloomberg = pd.read_csv("bloomberg_export_2019_03_14.xlsx - export.csv", converters={0: lambda x:pd.to_datetime(x, format="%d.%m.%Y")}, skiprows=[1, 2], decimal=",")

/Users/galina/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (155,371,452,539,540,809) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
header = pd.read_csv("bloomberg_export_2019_03_14.xlsx - export.csv").iloc[:2]

In [148]:
slices = [
    pd.DataFrame(bloomberg.iloc[:, [0, *range(1+i*6, 1+(i+1)*6)]].values, columns=["date", *header.iloc[1, 1:7]])
    .assign(company=bloomberg.columns[1+i*6,].split()[0])
    for i in range(148)]

In [149]:
data = pd.concat(slices).replace({'BRK/A': 'BRK-A'})

In [150]:
request_ticker = pd.read_csv("request_ticker_diffs.csv", parse_dates=["quarter", "date"])

In [152]:
request_ticker_bloomberg = request_ticker.set_index(["date", "company"]).join(data.set_index(["date", "company"]))

In [153]:
request_ticker_bloomberg.to_csv("request_ticker_bloomberg.csv",  index=False)

In [158]:
datas

,Dates,BS_TOTAL_LIABILITIES,BS_TOTAL_LIABILITIES.1,BS_TOTAL_LIABILITIES.2,BS_TOTAL_LIABILITIES.3,BS_TOTAL_LIABILITIES.4,BS_TOTAL_LIABILITIES.5,BS_TOTAL_LIABILITIES.6,BS_TOTAL_LIABILITIES.7,BS_TOTAL_LIABILITIES.8,...,QUICK_RATIO.25,QUICK_RATIO.26,QUICK_RATIO.27,QUICK_RATIO.28,PG_TOTAL_LOANS_VALUE,PG_TOTAL_LOANS_VALUE.1,PG_TOTAL_LOANS_VALUE.2,PG_TOTAL_LOANS_VALUE.3,PG_TOTAL_LOANS_VALUE.4,PG_TOTAL_LOANS_VALUE.5
0,NaN,WY,WEX,WU,WFC,WBS,USB,TSLX,TSS,AMTD,...,CBOE,BRO,BRK/A,AYR,USB,CMA,C,COF,BAC,ALLY
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3/31/10,10597,"1,093,018","6660,4",1105476,"16,168,998",255040,NaN,"549,116","11,309,688",...,"1,197","0,9855","11,597","0,0495",82373,30918,360780,NaN,NaN,NaN
10,6/30/10,9437,"1,145,932",6948,1104464,"15,859,409",254303,NaN,"529,515","10,100,349",...,"45,943","10,608","10,995","0,0603",82373,30633,360874,NaN,NaN,NaN
11,9/30/10,8815,"1,555,245","7132,6",1095619,"15,893,762",260711,NaN,"545,555","10,955,039",...,"65,692","0,823","11,405","0,1119",82373,30400,375131,NaN,NaN,NaN
12,12/31/10,8876,"1,538,944","7346,5",1130239,"16,255,002",277464,NaN,"548,456","11,013,277",...,"18,751","10,531","13,592","0,0852",82373,29947,389244,NaN,NaN,NaN
13,3/31/11,8303,"1,812,232","7607,4",1109723,"16,140,316",280127,NaN,"539,608","11,625,883",...,"19,022","1,1","13,615","0,0857",82373,29609,402712,NaN,NaN,NaN
14,6/30/11,8036,"1924,24","7630,4",1121818,"15,964,171",287533,NaN,"503,62","11,515,532",...,"25,007","10,623","1,369","0,0673",82373,29380,425277,NaN,NaN,NaN
15,9/30/11,8367,"1,813,795","8317,8",1165701,"16,378,173",295931,NaN,"531,347","13,009,945",...,"29,662","11,349","12,542","0,0919",82373,29949,430180,NaN,NaN,NaN
16,12/31/11,8269,"1,568,745","8175,1",1172180,"16,868,566",305151,NaN,"537,383","15,942,122",...,"32,994","11,092","12,747","0,0968",82373,30074,452669,NaN,NaN,NaN
17,3/31/12,8278,"1,769,097","8230,4",1186950,"17239,2",303848,NaN,"537,911","16,831,561",...,"23,847","0,2717","13,832","0,0865",82373,32238,497917,NaN,NaN,NaN
18,6/30/12,7985,"1,958,699","8113,2",1186767,"17,498,201",314262,NaN,"522,823","14,573,496",...,"27,472","0,3141","13,805","0,1171",82373,33449,511758,NaN,NaN,NaN
19,9/30/12,8479,"2,256,283","8208,4",1218656,"17,745,984",312428,NaN,"519,567",15088,...,"36,667","0,4054","14,278","0,1108",82373,33856,521916,NaN,NaN,NaN
20,12/31/12,8234,"2,292,272","8525,1",1264057,"18,053,235",313588,NaN,"539,398",16740,...,"34,758","0,4016","14,293","0,2006",82373,34325,525184,NaN,NaN,NaN
21,3/31/13,8002,"2631,59","8444,1",1273239,"17,982,407",314600,NaN,"525,648",16108,...,"30,509","0,5628","15,256","0,2278",82373,34753,524483,NaN,NaN,NaN
22,6/30/13,9492,"2,601,728","8660,8",1276786,"18,201,763",312365,NaN,"1,614,258",16632,...,"37,498","0,601","15,351","0,1607",82373,34854,524483,NaN,NaN,NaN
23,9/30/13,7745,"2,755,829","8890,6",1319242,"18,441,895",319129,NaN,"2,090,634",17160,...,"42,282","0,212","15,759","0,1129",82373,34178,548106,NaN,NaN,NaN
24,12/31/13,7620,"2,511,017","9016,6",1352494,"18,643,811",322214,NaN,"2044,49",17708,...,"2,524","0,2355","1,649","0,2085",82373,34020,559466,NaN,NaN,NaN
25,3/31/14,8563,"2,744,175","8854,9",1370238,"18,936,116",328546,NaN,"2067,62",18420,...,"34,506","0,3293","16,699","4,854",82373,34927,562158,NaN,NaN,NaN
26,6/30/14,7584,"2,877,986","8804,4",1417325,"19,239,859",345679,NaN,"2,030,245",18881,...,"29,058","0,253","17,491","20,214",82373,36529,562158,NaN,NaN,NaN
27,9/30/14,7961,"3505,81","8666,9",1453865,"19,516,032",347455,NaN,"2,008,925",19081,...,"26,601","0,3116","16,619","33,685",82373,36894,564241,NaN,NaN,NaN
28,12/31/14,7982,"3,024,202",8590,1501893,"20,210,357",358361,NaN,"2,011,445",19055,...,"28,007","0,3792","16,878","12,281",82373,37034,565400,NaN,NaN,NaN
29,3/31/15,7958,"3,189,105","9003,1",1547773,"20,751,113",365268,"532,229","2,040,017",19222,...,"26,805","0,2907","16,339","27,788",82373,37623,548108,81754,230359,NaN
30,6/30/15,7942,"3,076,827","8756,4",1529941,"21,241,091",373844,"603,716","2,009,987",20166,...,"21,117","0,3187","16,375","23,762",128560,38109,562678,87203,204380,NaN
31,9/30/15,7851,"3,281,583","8468,7",1557222,"21,667,237",370176,"585,037","1,985,355",21472,...,"23,841","0,3633","16,309","17,701",128560,38113,556638,90135,208981,NaN
32,12/31/15,11498,"2,752,228","8044,3",1593741,"22,227,158",375036,"685,827","2,005,803",20792,...,"2,227","0,3441","1,706","12,549",133676,37883,562194,96125,214405,NaN
33,3/31/16,12559,"3,012,454","8179,3",1650678,"22,497,542",381245,"689,581","3,477,306",22282,...,"19,805","0,3239","14,118","42,496",134985,37561,562974,92699,240591,NaN
34,6/30/16,11756,"3125,67","8080,5",1686574,"22643,5",390434,"704,793","4,468,306",22135,...,"16,093","0,3224","1,433","3,677",137023,38574,581658,96904,247122,NaN
35,9/30/16,10063,"4,815,485","8131,1",1738166,"23,121,988",405735,"724,751","4,284,456",23767,...,"16,502","0,295","14,519","45,894",137023,38243,588661,99201,251125,100793
36,12/31/16,9786,"4491,35","8517,4",1729618,"23,545,517",398031,"723,32","4,242,164",23635,...,"19,355","0,3672","15,343","36,197",136428,38067,580304,105552,258991,104603
37,3/31/17,9900,"4,626,544","8735,7",1749075,"23,442,558",401089,"647,239","4,191,213",23840,...,"16,401","0,4241","15,529","6,09",273158,36754,588305,99213,258421,104532
38,6/30/17,9357,"4764,11",8747,1724726,"23,569,804",414895,"621,029","3,999,376",24650,...,"13,029","0,4441","15,855","36,769",140543,37580,606843,101590,280473,105586
39,9/30/17,9160,"4,908,174","9164,2",1728115,"23,711,395",409876,"614,323","3,848,728",31380,...,"13,571","0,1585","15,788","45,875",140543,41334,616840,109130,272360,103058
40,12/31/17,8894,"5,058,766","9722,8",1743678,"23,785,687",412374,"750,954","3,975,007",31979,...,"12,219","0,3011","16,777","16,027",140835,37873,632555,114762,280473,105111
41,3/31/18,8767,"4,985,431","9563,8",1709478,"24,036,005",410307,"886,177","5,011,143",30815,...,"12,977","0,3543","15,849","15,621",279388,37368,640286,107576,279055,106283
42,6/30/18,8370,"5,159,981","9566,9",1673631,"24,275,014",411072,"916,437","4,964,794",29575,...,"0,7707","0,2952","16,424","12,311",142097,38332,641761,109777,283565,106157
43,9/30/18,8203,"5,310,485","9404,9",1673302,"24,530,119",413600,"933,86","4,832,862",29517,...,"0,7509","0,2669","17,018","41,535",142097,41591,646543,110685,287277,105929
44,12/31/18,NaN,"4,974,671","9306,6",1698817,"24723,8",415717,"667,122","4,882,803",28834,...,"10,037","0,2534","15,962","10,944",140835,41731,656964,116361,294335,108649